S3method(cfBuild, default)
export(cfBuild) 
export(cfPredict)
export(cfPermute)
export(getAcc) 
export(getAvgAcc)
export(getOptParam)
export(getConfMatr)
export(getPerm5Num) 
export(ggClassPred)
export(ggEnsHist)
export(ggPermHist)
export(ggEnsTrend)
export(ggFusedHist)
import(e1071) 
import(boot) 
import(neldermead) 
import(snowfall)
import(ggplot2)
importFrom(optimbase, transpose)
